.OptionButton {
    width: 5rem;
    height: 5rem;
    margin: 0.5rem;
    font-size: 1.5rem;
}

.OptionButton.OptionButton--correct {
    background-color: #60cc60;
}

.OptionButton.OptionButton--incorrect {
    background-color: #f06c6c;
}

.OptionButton.OptionButton--selected {
    background-color: #44d0ff;
}

.OptionButton.OptionButton--unclickable {
    pointer-events: none;
}
